* {
    padding: 0; margin: 0;

}
canvas {
    background: #eee; display: block; margin: 0 auto;
}

h1 {
    color: blue;
    font-family: 'Press Start 2P', cursive;

}

#gameCanvas {
    border: 1px solid blue;
}
